.Container {
  position: fixed; 
  z-index: -99; 
  width: 100%; 
  height: 150vh; 
  overflow-x: unset;
}

#Video {
  height:100%; 
  width: 1800px; 
  margin-left: -300px;
}

.Header {
  height: 6vh;
  background: rgb(185, 28, 172);
}

.Header__Img {
  width: 9%;
  position: fixed;
  top: 0;
  right: 0;
  margin: -.9rem 45% 0 0;
}

.Footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background:  rgb(185, 28, 172);
  position: fixed;
  bottom: 0;
  width: 100vw;
}

#fb {
  height: 2rem;
  margin: 2px 0 0 0;
}

#twitter {
  height: 2.1rem;
  margin: 2px 0 0 0;
}

#ig {
  height: 1.7rem;
  margin: 2px 0 0 1.2px;
}