.Container {
  position: fixed; 
  z-index: -99; 
  width: 100%; 
  height: 135vh; 
  overflow-x: unset;
}

#Video {
  frameborder: 0; height:100%; width: 140vw; margin-left: -20vw;
}

.Header {
  height: 5vh;
  background: rgb(185, 28, 172);
}

.Header__Img {
  width: 9%;
  position: fixed;
  top: 0;
  right: 0;
  margin: -.9rem 45% 0 0;
}

.Footer {
  height: 5vh;
  background:  rgb(185, 28, 172);
  position: absolute;
  bottom: 0;
  width: 100vw;
}

