.Container {
  position: fixed; 
  z-index: -99; 
  height: 100vh; 
  overflow-x: unset;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#Video {
  height:150%; 
  width: 100vw; 
}

.Header {
  height: 6vh;
  background: rgb(185, 28, 172);
}

.Header__Img {
  width: 9%;
  position: fixed;
  top: 0;
  right: 0;
  margin: -.9rem 45% 0 0;
}

.Footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background:  rgb(185, 28, 172);
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.Social {
  width: 7%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#fb {
  height: 2rem;
  margin: 5px 0 0 0;
}

#twitter {
  height: 2.1rem;
  margin: 4px 1px 0 0;
}

#ig {
  height: 1.7rem;
  margin: .49rem 0 0 1.2px;
}